body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* //? Could make them all be part of the same family, but that brings some compatibility issues in older browsers   */
/* @font-face {
  font-family: LSB;
  src: local("LSB"),
    url(./fonts/LeagueSpartan-ExtraBold.ttf) format("truetype");
  font-weight: bold;
} */

* {
  font-family: Helvetica;
}


